@import url("/font/stylesheet.css");

*::after,
*::before,
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Qanelas;
   color: #fff;
}
body {
   background: #1e2538;
}
@mixin flex() {
   display: flex;
   justify-content: center;
   align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}
ol,
ul {
   list-style: none;
}
a {
   text-decoration: none;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   padding: 0 16px;
}
.container {
   max-width: 1920px;
   width: 90%;
   margin: 0 auto;
}
.btn {
   padding: 0 40px;
   height: 32px;
}

.header {
   &__container {
      @include flex();
      justify-content: space-between;
      margin-top: 24px;
   }

   &__logo-box {
      @include flex();
      flex-direction: column;
   }

   &__logo-top {
      @include flex();
      gap: 6px;
      font-size: 25px;
      font-weight: 800;
      span {
         margin-right: -6px;
         color: #3657cb;
      }
   }

   &__logo-img {
   }

   &__social-network {
      margin-top: 10px;
   }

   &__nav {
      ul {
         @include flex();
         gap: 20px;
      }
   }

   &__link {
      font-weight: 600;
   }

   &__search {
      input {
         width: 30px;
         height: 30px;
         outline: none;
         background-image: url("/public/icons/search.svg");
         padding: 0 10px;
         background-position: center;
         background-repeat: no-repeat;
         background-size: 14px;
         border-radius: 6px;
         border: 0;
         box-shadow: 0 0 7px #fff;
      }
   }

   &__btn {
      border-radius: 7px;
      background: #3657cb;
      box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.8);
      font-weight: 700;
      transition: all 0.3s ease;
      @include flex();
      &:hover {
         box-shadow: none;
      }
      &:active {
         scale: 0.8;
      }
   }
   &__right {
      @include flex();
      gap: 12px;
   }
}
/* -----------------------------------main -------------------------------------*/

// _______________now_________
.now {
   &__container {
      margin-top: 50px;
   }

   &__top {
      @include flex();
      justify-content: space-between;
   }
}
.sec-top {
   &__title {
      font-size: 44px;
      font-weight: 800;
   }

   &__mini-line {
      width: 51.5px;
      height: 1.7px;
      border-radius: 3px;
      margin-top: 10px;

      background-color: #fff;
   }

   &__nav {
      font-size: 18px;
      font-weight: 700;

      margin-top: 10px;

      ul {
         @include flex();
         gap: 20px;
         li a {
            transition: 0.3s ease;
            color: rgba(255, 255, 255, 0.35);
         }
      }
   }
   &__more {
      @include flex();
      gap: 27px;
   }
}
.items-wrapper {
   display: grid;
   grid-template-columns: repeat(4, minmax(0, 1fr));
   justify-items: center;
   gap: 21px;
   margin-top: 64px;
}
.item {
   width: 100%;
   max-width: 250px;
   font-size: 18px;
   font-weight: 700;
   &__top {
      position: relative;
      width: 100%;
      height: 360.559px;
      transition: all 0.3s ease;
      img {
         width: 100%;
         height: 100%;
         border-radius: 8px;
      }
      .blue-effect {
         width: 100%;
         height: 100%;
         border-radius: 10px;
         background: rgba(54, 87, 203, 0.65);
         position: absolute;
         top: 0;
         left: 0;
         @include flex();
         opacity: 0;
         transition: all 0.3s ease;
         button {
            border-radius: 10px;
            background: #fff;
            box-shadow: 0px 0px 10px 0px rgba(55, 94, 232, 0.4);
            color: #3657cb;
            font-size: 18px;
            font-weight: 700;
            line-height: 166.5%; /* 29.97px */
            border: 0;
            transition: all 0.3s ease;
            padding: 10px 20px;
            cursor: pointer;
            &:active {
               scale: 0.7;
               transition: all 0.3s ease;
            }
         }
         &:hover {
            opacity: 1;
            transition: all 0.3s ease;
         }
      }
   }

   &__bottom {
   }

   &__title {
   }

   &__p {
      color: #f2f60f;
      font-size: 15px;
      font-weight: 400;
   }

   &__reyting {
      width: 62.275px;
      height: 33.214px;
      background-color: #89cb36;
      border-radius: 3px;

      position: absolute;
      top: 12.45px;
      right: 12.45px;
      @include flex();
   }
}
.more {
   font-size: 18px;
   font-weight: 700;
   line-height: 166.5%; /* 29.97px */
   border-radius: 10px;

   border: 2px solid #fff;
   background-color: transparent;

   margin-top: 50px;
   padding: 23px 46px;

   position: relative;
   left: 50%;
   transform: translateX(-50%);

   @include flex();
}
// ______________trailer_____
.trailer {
   &__container {
   }

   &__top {
      margin-top: 54px;
      @include flex();
      justify-content: space-between;
   }
   &__item {
   }

   &__scroll {
      @include flex();
      justify-content: flex-start;
      gap: 20px;
      overflow-x: auto;
      padding: 0 10px 20px;
      margin-top: 20px;
   }
}

.scroll-bar {
   &__item {
      display: inline-flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 8px;
      position: relative;
      min-width: 344.371px;
      height: 247.016px;
      transition: 0.3s ease;
      img:nth-child(2) {
         transition: 0.3s ease;
      }
      img:first-child {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
      img:nth-child(2):active {
         scale: 0.7;
         transition: 0.3s ease;
      }
      &:first-child {
         margin-left: 10px;
      }
      &:last-child {
         margin-right: 10px;
      }
      img {
         border-radius: 6px;
      }
      h5 {
         font-size: 20px;
         font-weight: 900;
      }
      &-play {
         width: 35px;
         height: 31px;

         position: absolute;
         top: 42%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   &::-webkit-scrollbar {
      border-radius: 10px;
      background: #1b2133;
      height: 7px;
   }

   /* ползунок скроллбара */
   &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #3657cb;
   }
}

.tr-item {
   &__top {
      position: relative;
      img {
         border-radius: 12px;
      }
      .main-img {
         width: 100%;
         min-height: 500px;
      }
   }

   &__play {
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   &__bottom {
      @include flex();
      justify-content: space-between;
      margin-top: 26px;
   }

   &__left {
      @include flex();
      gap: 34px;
   }

   &__title {
      font-size: 45px;
      font-weight: 900;
   }

   &__right {
      @include flex();
      gap: 8px;
   }

   &__like-box {
      @include flex();
      flex-direction: column;
      gap: 8px;
      p {
         font-size: 15px;
         font-weight: 400;
      }
   }

   &__like {
      padding: 12px 16px 20px;
      border-radius: 10px;
      background: #1b2133;
   }
   .des-like {
      padding: 20px 16px 12px;
   }
}
.cl-net {
   @include flex();
   gap: 18px;
}
// ______________popular_____
.popular {
   &__container {
   }

   &__top {
      @include flex();
      justify-content: space-between;
      margin-top: 78px;
   }
   &__wrapper {
      flex-wrap: nowrap;
      overflow: hidden;
   }
}

.arrows {
   @include flex();
   gap: 20px;

   position: relative;
   left: 50%;
   transform: translateX(-50%);

   margin-top: 54px;
   &__one {
      transform: rotate(180deg);
   }

   &__two {
   }
}
/* -----------------------------------footer-------------------------------------*/

.footer {
   background: #151a26;
   padding: 0 0 50px 0;
   &__container {
      margin-top: 75px;
   }
   &__expected {
      padding: 20px 0 0 0;
   }
   &__top {
      @include flex();
      justify-content: space-between;
      .arrows {
         position: static;
         transform: none;
         margin-top: 0;
      }
   }
   &__end {
      @include flex();
      flex-direction: column;
      img {
         margin-bottom: 34px;
      }
      margin: 60px 0px 0 0px;
   }

   &__io {
      color: rgba(227, 230, 240, 0.72);
      text-align: center;
      font-size: 15px;
      font-weight: 400;
      line-height: 119%; /* 17.85px */
      margin-top: 40px;
   }

   &__polit {
      color: rgba(227, 230, 240, 0.72);
      text-align: center;
      font-size: 15px;
      font-weight: 400;
      line-height: 119%; /* 17.85px */
      text-decoration-line: underline;
      margin-top: 26px;
   }
}

/* -----------------------------------pages-------------------------------------*/
// ______________card_____
.info {
   &__container {
      margin-top: 40px;
      display: grid;
      grid-template-columns: 40% 60%;
      max-width: 1164px;
   }
   .left {
      img {
         width: 360px;
         height: 540px;
         object-fit: contain;
         border-radius: 10px;
      }
   }
   .right {
      @include flex();
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      justify-content: flex-start;
      &__location {
         color: #4f5b7c;
         font-family: Qanelas;
         font-size: 16px;
         font-style: normal;
         font-weight: 500;
         line-height: 168.7%; /* 26.992px */
         span {
            color: #fff;
            font-family: Qanelas;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 168.7%;
         }
      }

      &__title {
         color: #fff;
         font-family: Qanelas;
         font-size: 65px;
         font-style: normal;
         font-weight: 900;
         line-height: normal;
      }

      &__suptitle {
         color: #fff;
         font-family: Qanelas;
         font-size: 25px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
      }
      &__variatn {
         @include flex();
         gap: 18px;
         .active {
            text-decoration: underline;
         }
         a {
            color: #6d717d;
         }
      }
      &__description {
         color: #fff;
         font-family: Qanelas;
         font-size: 20px;
         font-style: normal;
         font-weight: 500;
         line-height: 166.5%; /* 33.3px */
         background-color: black;
         padding: 10px 20px;
         border-radius: 12px;
      }

      &__button {
         border-radius: 10px;
         border: 2px solid #fff;
         width: 260px;
         height: 71px;
         background-color: transparent;
         @include flex();
         gap: 10px;
      }
      .bottom {
         @include flex();
         justify-content: start;
         gap: 40px;
      }
      .cl-net {
      }
   }
}

.down {
   max-width: 1164px;
   margin: 10px auto 0;
   &__top {
      @include flex();
      gap: 16px;
      justify-content: flex-start;
   }
   &__like {
      border-radius: 10px;
      background: #1b2133;

      width: 58.871px;
      height: 58.871px;
      @include flex();
   }

   &__reating {
      width: 185px;
      height: 59px;
      border-radius: 5px;
      background: #1b2133;
      @include flex();
      justify-content: flex-start;
      position: relative;

      p {
         color: #57d043;
         font-size: 14px;
         font-weight: 500;
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         white-space: nowrap;
      }
   }

   &__green {
      border-radius: 5px;
      background: #2e6125;
      width: 85%;
      height: 100%;
   }

   &__favorites {
      @include flex();
      gap: 10px;

      color: #e8e9eb;
      font-size: 14px;
      font-weight: 500;
   }

   &__heart {
      border-radius: 10px;
      background: #1b2133;

      width: 58.871px;
      height: 58.871px;
      @include flex();
   }
}
.des-like {
   padding-top: 10px;
}

.more-info {
   &__container {
      max-width: 1164px;
      margin: 10px auto 0;
   }

   &__nav {
      margin-top: 45px;
      ul {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         justify-content: space-between;
         gap: 40px;
         li {
            @include flex();
            width: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5px;
            a {
               color: #f2f60f;
               font-size: 18px;
               text-decoration-line: underline;
            }
            p {
               color: rgba(255, 255, 255, 0.9);
               font-size: 18px;
               font-weight: 600;
            }
         }
      }
   }
}
.staff {
   max-width: 1433px;
   margin: 0 auto;
   &__top {
      @include flex();
      justify-content: space-between;
      margin-top: 40px;
   }

   &__container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-items: center;
      margin-top: 30px;
      gap: 30px;
   }
   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
         border-radius: 5px;
         max-width: 248px;
         height: 250px;
         object-fit: contain;
      }
      h3 {
         color: #fff;
         font-size: 18px;
         font-weight: 700;
      }
      h5 {
         color: rgba(255, 255, 255, 0.7);
         font-size: 14px;
      }
      p {
         color: #f2f60f;
      }
   }
}
.active {
   color: #fff !important  ;
}

.foto {
   max-width: 1433px;
   margin: 0 auto;
   &__top {
      @include flex();
      justify-content: space-between;
      margin-top: 40px;
   }

   &__container {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(4, 340px);
      gap: 42px 22px;
      img {
         width: 100%;
         height: 100%;
         border-radius: 10px;
      }
      img:first-child {
         grid-column: 1/3;
      }
      img:nth-child(5) {
         grid-column: 2/4;
      }
   }
}
.user {
   &__container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: relative;
      padding: 40px;
   }

   &__title {
      color: #fff;
      font-family: Qanelas;
      font-size: 30px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
   }
   &__name {
      color: #fff;
      font-family: Qanelas;
      font-size: 50px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
   }

   &__wrapper {
      display: grid;
      grid-template-columns: 40% 60%;
      gap: 30px;
   }

   &__description {
      color: rgba(255, 255, 255, 0.8);
      font-family: Qanelas;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }

   &__icons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
   }
   .right {
      display: flex;
      flex-direction: column;
      gap: 12px;
   }
   .more-info__nav {
      margin: 0;
      ul {
         gap: 60px;
      }
   }
}

.setting {
   border-radius: 10px;
   background: #1e2538;
   border: 0;
   @include flex();
   gap: 8px;
   padding: 20px 28px;
   position: absolute;
   right: 20px;
   top: 20px;
   cursor: pointer;
}
.cl-net-box {
   display: none;
   flex-direction: column;
   gap: 18px;
   &__title {
      color: #fff;
      font-family: Qanelas;
      font-size: 30px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
   }
   input {
      color: #fff;
      font-family: Qanelas;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 166.5%; /* 28.305px */
      height: 54px;
      width: 100%;
      flex-shrink: 0;
      border-radius: 10px;
      background: #1e2538;
      @include flex();
      border: 0;
      outline: none;
      padding-left: 18px;
   }
}
.settings-menu {
   display: none;
   grid-template-columns: 260px 260px;
   gap: 18px;
   input {
      color: #fff;
      font-family: Qanelas;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 166.5%; /* 28.305px */
      width: 260px;
      height: 54px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #1e2538;
      @include flex();
      border: 0;
      outline: none;
      padding-left: 18px;
   }
   input[name="genres"] {
      grid-column: 1/3;
      width: 100%;
   }
   textarea {
      width: 541px;
      height: 252px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #1e2538;
      padding: 10px;
      border: 0;
      outline: 0;
   }
}
.cl-net-item {
   display: block;
   width: 26.273px;
   height: 26.273px;
   flex-shrink: 0;
   img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 50%;
   }
}
.header__social-network-box {
   @include flex();
   gap: 18px;
}

.modal {
   padding: 30px;
   position: absolute;
   top: -240px;
   left: 50%;
   transform: translateX(-50%);
   transition: .3s ease;
   @include flex();
   &__container {
      width: 815px;
      padding: 18px;
      height: 71px;
      @include flex();
      border-radius: 10px;
      background: #fff;
      input {
         width: 100%;
         height: 71px;
         border: 0;
         outline: 0;
         color: #151a26;
         font-size: 18px;
      }
      img {
         margin-left: 10px;
      }
   }
   &__close{
      font-size: 40px;
      cursor: pointer;
      position: absolute;
      top: 0px;
      right: 8px;
   }
}
